@tailwind base;
@tailwind components;
@tailwind utilities;
/* globals.css */

:root {
  /* Color variables */
  --primary-color: #FF6B08; /* Bright Orange */
  --secondary-color: #333333; /* Dark Gray */
  --background-color: #f8f8f894; /* Light Gray */
  --text-color: #FFFFFF; /* White */
}

/* Reset default styles */


/* Global styles */
html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--secondary-color);
}

.logo {
  color: var(--text-color);
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a {
  color: var(--text-color);
  text-decoration: none;
  margin-right: 1.5rem;
}

/* Content styles */
.content {
  padding: 2rem;
}

/* Footer styles */
.footer {
  padding: 1rem;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--text-color);
}
